.title{
    text-align: center;
    color: #2698c5;
    font-size: 20px !important;
    font-weight: 500 !important;
}

.subtitle{
    text-align: center;
}

.action-container{
    display: flex;
    justify-content: end;
}


