<!DOCTYPE html>
<html>
    <header>
        <app-header></app-header>
    </header>
    <body>
        <div class="article-content-container">
            <app-admin-abc-nav-modules></app-admin-abc-nav-modules>
            <div class="module-name-register-container">

                <div class="module-name">
                    <app-abc-module-title [label]="'Registro de artículo'"></app-abc-module-title>
                </div>
                
                <div class="module-register-container">

                    <div class="register">

                        <div class="input-register">
                            <app-input [label]="'ID artículo'" [example]="'5111100000'" [enable]="enableid" [value]="idArticle" (onChange)="onChangeIdArticle($event)" ></app-input>                            
                            <app-input [label]="'Nombre'" [example]="'Impresora kyosera'" [value]="name" (onChange)="onChangeNameArticle($event)"></app-input>                            
                            <app-textarea [label]="'Descripción del artículo'" [example]="'Todo lo relacionado a caracteristicas del artículo'" [value]="description" (onChange)="onChangeDescrptionArticle($event)" ></app-textarea>                            
                        </div>
                        <div class="button-container">                            
                            <button mat-flat-button color="primary" (click)="CreateArticle()" *ngIf="butonAddUpdate.length == 0">Agregar</button>                                                                                                                                                
                            <button mat-flat-button color="primary" (click)="UpdateArticle()" *ngIf="butonAddUpdate.length> 0">Actualizar</button>                                                                                    
                        </div>
                    </div>                    
                    <div class="table-article-container" *ngIf="ItemsTable.length > 0">
                        <app-abc-table class="table" [items]="ItemsTable" [nameColumn]="nameColumn"  [optionDelete]="'no'" [optionDetail]="'no'" (onChange)="onChangeActionTable($event)"></app-abc-table>                        
                    </div>

                </div>
            
            </div>
        </div>
    </body>


</html>
