.button-delete{
    background-color: red !important;    
}

.button-edit{
    background-color: blue !important;    
}

.button-receipt{
    background-color: green !important;
}


/*----------------------para table show Administrador*/
.mat-mini-fab{
    box-shadow: none;    
}

.button-remove{
    background-color: red !important;    
}

.button-accep{
    background-color: green !important;    
}

.button-detail{
    background-color: rgb(200, 200, 42) !important;
}

.button-requeriment{
    background-color: rgb(39, 152, 169) !important;
}