<!DOCTYPE html>
<html>
    <header>
        <app-header></app-header>
    </header>
    <body>
        <div class="branch-content-container">
            <app-admin-abc-nav-modules></app-admin-abc-nav-modules>
            <div class="module-name-register-container">

                <div class="module-name">
                    <app-abc-module-title [label]="'Registro de sucursal'"></app-abc-module-title>
                </div>

                <div class="module-register-container">

                    <div class="register">

                        <div class="input-register">
                            <app-input-number [label]="'ID sucursal'" [example]="'13'" [value]="Idbranch" (onChange)="onChangeIdBranch($event)"> </app-input-number>                            
                            <app-input [label]="'Nombre Sucursal'" [example]="'Sucursal Zaragoza'" [value]="namebranch" (onChange)="onChangeNameBranch($event)"></app-input>
                            <app-input [label]="'Direccion'" [example]="'Entre Independencia y  Zaragoza'" [value]="domiciliobranch" (onChange)="onChangeDirectionBranch($event)"></app-input>
                            <app-input [label]="'Correo electrónico'" [example]="'Sucursal@delmuro.com'" [value]="emailbranch" (onChange)="onChangeEmailBranch($event)"></app-input>
                            <app-input [label]="'Número telefónico'" [example]="'018003312'" [value]="phone_number" (onChange)="onChangePhoneNumberBranch($event)"></app-input>
                            <mat-slide-toggle class="slide-toggle">Activo</mat-slide-toggle>                            

                            <form class="example-form" [formGroup]="formGroup" (ngSubmit)="onFormSubmit()" ngNativeValidate>
                                <mat-slide-toggle formControlName="status">Activo</mat-slide-toggle>                                                              
                                <p>Form Group Status: {{formGroup.status}}</p>                                                              
                            </form>
                            

                            <!--                                
                            <app-select [label]="'Ejemplo'" [items]="itemsArray" [valuenum]="ItemSend" (onChange)="onChangeid($event)"></app-select>                                                                                                                
                            -->
                            
                        </div>
                        <div class="button-container">
                            <button mat-flat-button color="primary" (click)="CreateBranch()">Agregar</button>                            
                        </div>

                    </div>
                    

                    <div class="table-branch-container">
                        <app-table></app-table>
                    </div>

                </div>
            
            </div>
        </div>
    </body>


</html>