<!DOCTYPE html>
<html>
    <header>
        <app-header></app-header>
    </header>
    <body>
        <div class="branch-content-container">
            <app-admin-abc-nav-modules></app-admin-abc-nav-modules>
            <div class="module-name-register-container">

                <div class="module-name">
                    <app-abc-module-title [label]="'Registro de sucursal'"></app-abc-module-title>
                </div>

                <div class="module-register-container">

                    <div class="register">
                        <div class="input-register">
                            <app-input [type]="'number'" [label]="'ID sucursal'" [example]="'13'" [enable]="enableid" [value]="id_sucursal" (onChange)="onChangeIdBranch($event)"></app-input>                            
                            <app-input [label]="'Nombre Sucursal'" [example]="'Sucursal Zaragoza'" [value]="nombre" (onChange)="onChangeNameBranch($event)"></app-input>
                            <app-input [label]="'Direccion'" [example]="'Entre Independencia y  Zaragoza'" [value]="domicilio" (onChange)="onChangeDirectionBranch($event)"></app-input>
                            <app-input [label]="'Correo electrónico'" [example]="'Sucursal@delmuro.com'" [value]="correo" (onChange)="onChangeEmailBranch($event)"></app-input>
                            <app-input [label]="'Número telefónico'" [example]="'018003312'" [value]="telefono" (onChange)="onChangePhoneNumberBranch($event)"></app-input>                                                        
                            <mat-slide-toggle [color]="'primary'" [(ngModel)]="isChecked">Activo</mat-slide-toggle>                                                                                    
                        </div>
                        <div class="button-container">                                                                                    
                                <button mat-flat-button color="primary" (click)="CreateBranch()" *ngIf="butonAddUpdate.length == 0">Agregar</button>                                                                                                                                                
                                <button  #update mat-flat-button color="primary" (click)="UpdateBranch()" *ngIf="butonAddUpdate.length> 0">Actualizar</button>                                                                                    
                        </div>                                                                                                
                    </div>
                    
                    <div class="table-branch-container" *ngIf="ItemsTable.length > 0">
                        <app-abc-table [items]="ItemsTable" [nameColumn]="nameColumn" (onClickAction)="onClickAction($event)"></app-abc-table>
                    </div>
                </div>            
            </div>
        </div>
    </body>


</html>