<div class="header"> 
        <div class="del-muro-logo">
            <p class="title">ALMACENES DEL MURO</p>
        </div>

        <div class="menu">        

        <!--  Para Store manager -->

            <div class="menu-option" *ngIf="idRol == 2">
                <mat-icon class="icon" [routerLink]="['/storeManager/createRequest']">note_add</mat-icon>
                <p class="option" [routerLink]="['/storeManager/createRequest']">Crear peticion</p>   
            </div>
            <div class="menu-option" *ngIf="idRol == 2">
                <mat-icon class="icon" [routerLink]="['/storeManager/requestedRequestModule']">storage</mat-icon>
                <p class="option" [routerLink]="['/storeManager/requestedRequestModule']">Peticiones solicitadas</p>
            </div>
    
            <!--  Para Admin-->
            <div class="menu-option" *ngIf="idRol == 1">
                <mat-icon class="icon" [routerLink]="['/storeManager/requestedRequestModule']">storage</mat-icon>
                <p class="option" [routerLink]="['/admin/showRequested']">Peticiones</p>
            </div>

            <!--  Para Solver-->
            <div class="menu-option" *ngIf="idRol == 4">
                <mat-icon class="icon" [routerLink]="['/storeManager/requestedRequestModule']">storage</mat-icon>
                <p class="option" [routerLink]="['/solver/showRequested']">Peticiones</p>
            </div>

            <div class="menu-option" *ngIf="idRol == 1">
                <mat-icon class="icon">assignment</mat-icon>
                <p class="option">Reportes</p> 
            </div>

            <div class="menu-option">
                <button mat-icon-button class="session-menu" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                
                <mat-menu #menu="matMenu" class="session-option-menu-container">
    
                    <button [routerLink]="'/admin/branchAbc'" mat-menu-item class="session-option-menu-button" *ngIf="idRol == 1">
                        <mat-icon class="session-option-menu">widgets</mat-icon>
                        <span>Administrador</span>
                    </button>
                    
                    <button mat-menu-item class="session-option-menu-button" (click)="logout()">
                        <mat-icon class="session-option-menu">logout</mat-icon>
                        <span>Cerrar sesion</span>
                    </button>
                    
                </mat-menu>    
            </div>
        </div>   
</div>