.header{
    height: 80px;
    background-color: #201C3D;
    width: 100%;
}

.menu{
    padding: 0px 24px;
    height: 100%;
    display: flex;
    gap: 32px;
    justify-content: flex-end;
}

.menu-option{
    display: flex;
    gap: 8px;
    align-items: center;
}

.icon{
    color: white;
}

.option{
    color: #ffff;
    font-size: 16px;
}
.option:hover{
    font-size: 20px;
}

.icon, .option, .session-menu{
    cursor: pointer;
}

.session-menu{
    color: #ffff;
}



