.menu{
    display: flex;
    gap: 24px;
    margin: 0px auto;

    justify-content: flex-end;
    padding: 28px 0px;

    background-color: #201C3D;

}

.menu > p{
    color: #ffff;
    font-size: 20px;
}

.menu :last-child{
    margin-right: 24px;
}



