.header{
    padding: 0px 30px;
    height: 80px;
    background-color: #201C3D;
    width: calc(100% - 60px);
    display: flex;
    justify-content: space-between;

}

.del-muro-logo{
    display: flex;
    align-items: center;
    width: 240px;
    text-align: center;
}

.welcome{
    display: flex;
    align-items: center;
    width: 200px;
    text-align: center;
}

.nameEmployee{
    font-family: 'Cambo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;

}


.title{
    line-height: 24px;
}

.menu{
    height: 100%;
    display: flex;
    gap: 32px;
}

.menu-option{
    display: flex;
    gap: 8px;
    align-items: center;
}

.icon{
    color: white;
}

.option{
    color: #ffff;
    font-size: 16px;
}


.icon, .option, .session-menu{
    cursor: pointer;
}

.session-menu{
    color: #ffff;
}


.title{
    font-family: 'Cambo';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #FFFFFF;
}

