

.header{
    padding: 0px 30px;
    height: 80px;
    background-color: #201C3D;
    width: calc(100% - 60px);
    display: flex;    
}

.del-muro-logo{
    display: flex;
    align-items: center;
    width: 240px;
    text-align: center;
    
}

.welcome{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 240px);
    text-align: center;
    margin-right: 12%;
}

.nameProyec{    
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}
.title{
    font-family: 'Cambo';
    line-height: 32px;
    color: #FFFFFF;
    font-size: 24px;
}



.login-container{
    padding: 0px 20px;
    margin: 0px auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    background-color: #fbfbfb;
    max-width: 300px;
    text-align: center;
}

.login-content{
    margin-top: 40px;
}

.input-container{
    padding: 0px 20px;
    margin: 0px auto;
}

.mat-icon{
    font-size: 80px;
    color: #58518d;
    width: 80px;
    height: 80px;

    margin-bottom: 12px;
}


button{
    margin-bottom: 12px;
}



