<div class="page-container">
    <div class="header">
        <div class="del-muro-logo">
            <p class="title">ALMACENES DEL MURO</p>
        </div>
        <div class="welcome">
            <p class="nameProyec">Manteniment System</p>
        </div>
    </div>
    <div class="login-container">
        <div class="login-content">
            <mat-icon>account_circle</mat-icon>
            <div class="input-container">
                <app-input [label]="'Usuario'" [example]="'UserName'"  [value]="usuario" (onChange)="onChangeUser($event)"></app-input>                                                                        
                <app-input [label]="'Password'" [type]="'password'" [example]="'UserName'"  [value]="password" (onChange)="onChangePassword($event)"></app-input>
            </div>
            <button mat-flat-button color="primary" (click)="loginSystem()">Iniciar sesion</button>            
        </div>    
    </div>
</div>
