<div class="modules-container">
    <div class="module-icon" [routerLink]="['/admin/branchAbc']">
        <mat-icon>domain</mat-icon>
        <p>Sucursal</p>
    </div>
    <div class="module-icon" [routerLink]="['/admin/employeeAbc']">
        <mat-icon>group</mat-icon>
        <p>Empleado</p>
    </div>
    <div class="module-icon" [routerLink]="['/admin/userAbc']">
        <mat-icon>account_circle</mat-icon>
        <p>Usuario</p>
    </div>
    <div class="module-icon" [routerLink]="['/admin/typeOfPRoblemAbc']">
        <mat-icon>report_problem</mat-icon>
        <p>Tipo de problema</p>
    </div>
    <div class="module-icon" [routerLink]="['/admin/userByProblemTypeAbc']">
        <mat-icon>contacts</mat-icon>
        <p>Usuario por tipo de problema</p>
    </div>
    <div class="module-icon" [routerLink]="['/admin/articleAbc']">
        <mat-icon>personal_video</mat-icon>
        <p>Articulo</p>
    </div>
    <div class="module-icon" [routerLink]="['/admin/articleByBranchAbc']">
        <mat-icon>store</mat-icon>
        <p>Articulo por sucursal</p>
    </div>
    
    <div class="module-icon" [routerLink]="['/admin/articleByProblem']">
        <mat-icon>assessment</mat-icon>
        <p>Articulo por Tipo Problema</p>
    </div>
</div>
