<div class="modules-container">
    <div class="module-icon" [routerLink]="['/BranchAbc']">
        <mat-icon>domain</mat-icon>
        <p>Sucursal</p>
    </div>
    <div class="module-icon" [routerLink]="['/EmployeeAbc']">
        <mat-icon>group</mat-icon>
        <p>Empleado</p>
    </div>
    <div class="module-icon" [routerLink]="['/UserAbc']">
        <mat-icon>account_circle</mat-icon>
        <p>Usuario</p>
    </div>
    <div class="module-icon" [routerLink]="['/RoleAbc']">
        <mat-icon>hot_tub</mat-icon>
        <p>Rol</p>
    </div>
    <div class="module-icon" [routerLink]="['/TypeOfPRoblemAbc']">
        <mat-icon>report_problem</mat-icon>
        <p>Tipo de problema</p>
    </div>
    <div class="module-icon" [routerLink]="['/UserByProblemTypeAbc']">
        <mat-icon> contacts</mat-icon>
        <p>Usuario por tipo de problema</p>
    </div>
</div>
