.mat-elevation-z8{
    width: auto;
    background-color: aqua;

    margin: 0px auto;
   
    text-align: center;
}

th{    
    text-align: center !important;
}

table{     
    width: 100% !important;
}