.abc-table-container{
    width: auto;
    max-width: 100%;
    overflow: auto;    
}

table {
    width: 100%;
    box-shadow: rgb(255, 255, 255) 0px 2px 8px 0px;
}

.mat-elevation-z8{
    text-align: center;
}

th{    
    text-align: center !important;
}

.mat-row{
    height: 32px;
}

.button-container{
    display: flex;
    justify-content:center ;
    gap: 10px;
    padding: 0px 8px;    
}

td{
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}