<!DOCTYPE html>
<html>
    <header>
        <app-header></app-header>
    </header>
    <body>
        <div class="user-content-container">
            <app-admin-abc-nav-modules></app-admin-abc-nav-modules>
            <div class="module-name-register-container">

                <div class="module-name">
                    <app-abc-module-title [label]="'Usuario'"></app-abc-module-title>
                </div>

                <div class="module-register-container">

                    <div class="register">

                        <div class="subtitle-register">
                            <h2>Registro de usuario</h2>
                        </div>

                        <div class="input-register">
                            <app-input [label]="'Usuario'"></app-input>
                            <app-input [label]="'Contraseña'"></app-input>
                            <app-input [label]="'ID empleado'"></app-input>
                            <app-select [label]="'Rol'"></app-select>
                            <mat-slide-toggle class="slide-toggle">Activo</mat-slide-toggle>
                        </div>

                        <app-button></app-button>
                    </div>

                    <div class="table-user-container">
                        <app-table class="table"></app-table>
                    </div>

                </div>
            
            </div>
        </div>
    </body>
</html>