<!DOCTYPE html>
<html>
    <header>
        <app-header></app-header>
    </header>
    <body>
        <div class="user-content-container">
            <app-admin-abc-nav-modules></app-admin-abc-nav-modules>
            <div class="module-name-register-container">

                <div class="module-name">
                    <app-abc-module-title [label]="'Registro de usuario'"></app-abc-module-title>
                </div>

                
                <div class="module-register-container">

                    <div class="register">

                        <div class="input-register">
                            <app-input [label]="'Usuario'" [(value)]="form.userName"></app-input>
                            <app-input [label]="'Contraseña'" [(value)]="form.password"></app-input>
                            <app-input [label]="'ID empleado'" [(value)]="form.employeeId"></app-input>
                            <app-select [label]="'Rol'" [value]="form.roleId" [items]="roles" [getId]="getId" [getLabel]="getLabel"></app-select>
                            <mat-slide-toggle class="slide-toggle" [(ngModel)]="form.status">Activo</mat-slide-toggle>
                        </div>

                        <div class="button-container">
                            <button mat-flat-button color="primary" *ngIf="button == 'add'" (click)="CreateUser()">Agregar</button>
                            <button #update mat-flat-button color="primary" *ngIf="button == 'update'" (click)="UpdateUser()">Actualizar</button>
                        </div>
                        
                    </div>

                    <div class="table-user-container" *ngIf="itemsTable.length > 0">
                        <app-abc-table [items]="itemsTable" [nameColumn]="nameColum" [optionDelete]="'no'" (onChange)="onChangeActionTable($event)"></app-abc-table>                                             
                    </div>

                </div>
            
            </div>
        </div>
    </body>
</html>