<!DOCTYPE html>
<html>
    <header>
        <app-header></app-header>
    </header>
    <body>
        <div class="article-content-container">            
            <div class="column_izquierda">
                <p>columna uno</p>
            </div>    
            <div class="column_centro">
                <p>columna dos</p>
            </div>    
            <div class="column_derecha">
                <p>columna tres</p>
            </div>                
        </div>
    </body>
</html>

