<!DOCTYPE html>
<html>
    <header>
        <app-header></app-header>
    </header>
    <body>
        <div class="container">
            <div class="content-container">

                <div class="title">
                    <h1>Asignar solucionador al problema</h1>
                </div>           

                <div class="problem-description">

                    <div *ngIf="uploadDataProblem()"></div>
                    
                    <div class="date-problem-container" >
                        <p class="date-problem">Tipo de problema: </p>
                        <p>{{nameTypeProblem}}</p>
                    </div>
                    <div>
                        <p class="date-problem">Descripción: </p>
                        <p>{{nameDescriptionProblem}}</p>
                    </div>
                    <div class="date-problem-container">
                        <p class="date-problem">Sucursal: </p>
                        <p>{{namebranch}}</p>
                    </div>
                    <div class="date-problem-container">
                        <p class="date-problem">Encargado(a) de tienda: </p>
                        <p>{{nameStoremanger}}</p>
                    </div>
                    <div class="date-problem-container">
                        <p class="date-problem">Fecha de Solicitud: </p>
                        <p>{{dateSolicitud}}</p>
                    </div>
                </div>

                <div class="assignament-container">
                    <div class="assignament">                    
                        <app-select class="solver-select" [label]="'Empleado Solucionador'" [valuenum]="idUser" [items]="arrayUser"  [getId]="getId" [getLabel]="getLabel" (onChange)="onChangeIdUser($event)"></app-select>
                        <div class="button">
                            <button mat-flat-button color="primary" class="assignament-button" (click)="assignamentSolver()">Asignar</button>                                                                                                                                                
                        </div>
                    </div>

                    <div class="title-table">
                        <h2>Tabla de problemas previos asignados</h2>
                    </div>
                    
                    <div class="solver-table" *ngIf="ItemsTableUser.length > 0">
                        <app-table-show [items]="ItemsTableUser" [nameColumn]="nameColums" [optionDelete]="'no'" [optionEdit]="'no'" [optionFilter]="'no'" (onChange)="onChangeActionTable($event)"></app-table-show>
                    </div>

                </div>
            </div>            
        </div>
    </body>
</html>

