<!DOCTYPE html>
<html>
    <header>
        <app-header></app-header>
    </header>
    <body>
        <div class="user-by-problem-type-content-container">
            <app-admin-abc-nav-modules></app-admin-abc-nav-modules>
            <div class="module-name-register-container">

                <div class="module-name">
                    <app-abc-module-title [label]="'Registro de usuario por tipo de problema'"></app-abc-module-title>
                </div>

                <div class="module-register-container">

                    <div class="register">

                        <div class="input-register">                            
                            <app-select [label]="'Tipo de problema'" [(value)]="idTypeProblem" [items]="problemType" [getId]="getId" [getLabel]="getLabel"></app-select>
                            <app-input [type]="'number'" [label]="'ID Usuario'" [enable]="enableid" [example]="'13'" [value]="idUser" ></app-input>
                            <mat-slide-toggle class="slide-toggle" [color]="'primary'" [(ngModel)]="isChecked">Activo</mat-slide-toggle>
                        </div>
                        
                        <div class="button-container">                            
                            <button mat-flat-button color="primary" (click)="CreateUserProblem()" *ngIf="butonAddUpdate.length == 0">Agregar</button>                                                                                                                                                
                            <button  #update mat-flat-button color="primary" (click)="UpdateUserProblem()" *ngIf="butonAddUpdate.length > 0">Actualizar</button>                                                                                    
                        </div>
                    </div>

                    <div class="table-user-by-problem-type-container" *ngIf="itemsTable.length > 0">
                        <app-abc-table class="table" [items]=" itemsTable" [nameColumn]="namecolum" (onChange)="onChangeActionTable($event)"></app-abc-table>
                    </div>

                </div>
                
            
            </div>
        </div>
    </body>
</html>