<!DOCTYPE html>
<html>
    <header>
        <app-header></app-header>
    </header>
    <body>
        <div class="user-by-problem-type-content-container">
            <app-admin-abc-nav-modules></app-admin-abc-nav-modules>
            <div class="module-name-register-container">

                <div class="module-name">
                    <app-abc-module-title [label]="'Registro de usuario por tipo de problema'"></app-abc-module-title>
                </div>

                <div class="module-register-container">

                    <div class="register">

                        <div class="input-register">
                            <app-select [label]="'Tipo de problema'"></app-select>
                            <app-input [label]="'Usuario'"></app-input>
                            <mat-slide-toggle class="slide-toggle">Activo</mat-slide-toggle>
                        </div>

                        

                        <button mat-flat-button color="primary">Agregar</button>
                    </div>

                    <div class="table-user-by-problem-type-container">
                        <app-table class="table"></app-table>
                    </div>

                </div>
                
            
            </div>
        </div>
    </body>
</html>