<mat-card class="card">
    <div class="request-infomation-container">
            <div class="request-infomation">
                <p class="request-infomation-title">Tipo de problema</p>
                <p class="request-infomation-title-info">Electrico</p>
            </div>
            <div class="request-infomation">
                <p class="request-infomation-title">Sucursal</p>
                <p class="request-infomation-title-info">SUC13</p>
            </div>
            <div class="request-infomation">
                <p class="request-infomation-title">Fecha de solicitud</p>
                <p class="request-infomation-title-info">03/02/2022</p>
            </div>

            <div class="request-buttons">
                <app-button></app-button>
                <app-button></app-button>
                <app-button></app-button>
            </div>
    </div>
</mat-card>