<!DOCTYPE html>
<html>
    <header>
        <app-header></app-header>
    </header>
    <body>
        <div class="employee-content-container">
            <app-admin-abc-nav-modules></app-admin-abc-nav-modules>
            <div class="module-name-register-container">

                <div class="module-name">
                    <app-abc-module-title [label]="'Registro de empleado'"></app-abc-module-title>
                </div>

                <div class="module-register-container">

                    <div class="register">

                        <div class="input-register">
                            <app-input [label]="'ID empleado'"></app-input>
                            <app-input [label]="'Nombre'"></app-input>
                            <app-input [type]="'number'" [label]="'Número telefónico'"></app-input>
                            <app-input [label]="'Correo electrónico'"></app-input>
                            <mat-slide-toggle class="slide-toggle">Activo</mat-slide-toggle>
                        </div>

                        <div class="button-container">
                            <button mat-flat-button color="primary">Agregar</button>
                        </div>

                    </div>

                    <div class="table-employee-container">
                        <app-abc-table class="table"></app-abc-table>
                    </div>

                </div>
            
            </div>
        </div>
    </body>


</html>