<!DOCTYPE html>
<html>
    <header>
        <app-header></app-header>
    </header>
    <body>
        <div class="employee-content-container">
            <app-admin-abc-nav-modules></app-admin-abc-nav-modules>
            <div class="module-name-register-container">

                <div class="module-name">
                    <app-abc-module-title [label]="'Registro de empleado'"></app-abc-module-title>
                </div>

                <div class="module-register-container">

                    <div class="register">

                        <div class="input-register">
                            <app-input [type]="'number'" [label]="'ID Empleado'" [example]="'13'" [enable]="enableid" [value]="idEmpleado" (onChange)="onChangeIdEmployee($event)"></app-input>                                                        
                            <app-input [label]="'Nombre Empleado'" [example]="'Jesus Rodrigez sdSmith'" [value]="nombre" (onChange)="onChangeNameEmployee($event)"></app-input>                                                                                                                

                            <app-select [label]="'Sucursal'" [items]="itemsSelecBranches" [valuenum]="idSucursal" (onChange)="onChangeIdBranch($event)"></app-select>                            

                            <app-input [label]="'Correo'" [example]="'JesusRodrigez@gmail.com'" [value]="correo" (onChange)="onChangeEmailEmployee($event)"></app-input>                            
                            <app-input [label]="'Número telefónico'" [example]="'6681843221'" [value]="telefono" (onChange)="onChangePhoneNumberEmployee($event)"></app-input>                                                        
                            <mat-slide-toggle [color]="'primary'" [(ngModel)]="isChecked">Activo</mat-slide-toggle>                                                                                    
                        </div>

                        <div class="button-container">                                                                                    
                            <button mat-flat-button color="primary" (click)="CreateEmployee()" *ngIf="butonAddUpdate.length == 0">Agregar</button>                                                                                                                                                
                            <button  #update mat-flat-button color="primary" (click)="UpdateEmployee()" *ngIf="butonAddUpdate.length> 0">Actualizar</button>                                                                                    
                        </div>

                    </div>

                    <div class="table-employee-container" *ngIf="ItemsTable.length > 0">
                        <app-abc-table class="table" [items]="ItemsTable" [nameColumn]="namecolum" (onChange)="onChangeActionTable($event)"></app-abc-table>                        
                    </div>

                </div>
            
            </div>
        </div>
    </body>


</html>