.main-container{
    margin-top: 20px;    
    min-width: 880px;
    padding: 40px 0px;        
    text-align: center;
}

.secondary-container{
    margin: 0px auto;
    color: #878787;
    max-width: 500px;
}

.problem-data-container{
    margin: 20px auto;
    border: 1px solid #878787;
}

.title{
    font-weight: 500;
}

.subtitle{
    margin-top: 8px;
}

.type-problem-container{
    display: flex;
    justify-content: center;    
}

.type-problem, .description-problem, .total-price, .subtitle{
    font-weight: 500;
}

.description-problem{
    margin: 0px;
}

.description{
    margin-top: 0px;
}

.order-total-price{
    display: flex;
    justify-content: center;    

}

.button-container{
    margin-top: 30px;
    display: flex;
    gap: 16px;

    justify-content: center;
}

.button{        
    width: 100px;
    height: 40px;    
    border-color: #192A86B2;    
}

