.main-container{
    margin: 0px auto;  
    width: 100%;
    max-width: 80%;      
}

.content{
    padding: 40px 20px;  
}

.secondary-container{
    display: flex;
    margin: 20px 0px;
    color: #878787;
    justify-content: space-between;
    align-items: flex-end;
}

.problem-data{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.problem-data-container{
    max-width: 400px;
}

.type-problem-container, .order-total-prices{
    display: flex;
}

.type-problem, .description-problem, .total-price, .subtitle, .title{
    font-weight: 500;
}

.subtitle{
    font-size: 16px;
    color: #333333;
}

.order-title{
    display: flex;
    gap: 12px;

    align-items: center;
}

.keyboard-backspace{
    cursor: pointer;
}