.main-container{
    margin-top: 20px;    
    min-width: 880px;
    padding: 40px 0px;        
    text-align: center;
}

.title{                
    color: black;
    font-weight: 700;    
    font-size: 24px;
}

.secondary-container{
    margin-top: 40px;
}

.subtitle{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
}


.order-type{
    margin-top: 20px;
    display: flex;
    justify-content: center;    
}

.type-problem{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
}

.type{
    font-family: 'Roboto';
}

.description-problem{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    margin: 0px;
}

.description{
    margin-top: 0px;
}

.order-total-price{
    margin-top: 20px;
    display: flex;
    justify-content: center;    
}

.total-price{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
}

.price{
    font-family: 'Roboto';
}

.example-button-row{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.button-add{        
    width: 100px;
    height: 40px;    
    border-color: #192A86B2;    
}

.button-remove{    
    width: 100px;
    height: 40px;    
    border-color: #192A86B2;    
    margin-left: 20px;
}

