<div class="dialog">
    <div mat-dialog-content class="header-container">    
        <h1 mat-dialog-title class="dialog-title">Detalles</h1>
    </div>

    <div mat-dialog-content class="sub-container">
       
        <div *ngFor="let item of arrayData" class="dialog-content">
            <p class="title">{{item.title}}</p>
            <p class="data">{{item.data}}</p>                       
        </div>        

        <div class="dialog-content" *ngIf="arrayFecha.length > 0">
            <div *ngFor="let item of arrayFecha">            
                <p class="title">{{item.title}}</p>
                <p class="data">{{item.data}}</p>                       
            </div>        
        </div>
        
        
        

    </div>
    
    <div mat-dialog-action class="action-container">
        <button mat-flat-button color="primary" matRipple class="format-button-cancel" class="button" mat-button mat-dialog-close>Cerrar</button>    
    </div>

</div>    
