.title{
    font-weight: 700;
}

.header-container{
    margin: 0px auto;
    text-align: center;    
    height: 50px;
    overflow: hidden;
}

.dialog{
    display:flex;
    flex-direction: column;
    min-width: 252px;
    max-width: 650px;
    min-height: 340px;
    max-height: 450px;
}

.dialog-title{
    color:#3F51B5;
    font-weight: 700;
}

.sub-container{
    width: auto;
    display: flex;
    flex-direction: row;    
    gap: 8px;
    padding: 16px 40px;
    flex-wrap: wrap;
}


.dialog-content{
    width: 50%;
}


.action-container{    
    text-align: center;    
}

.button{
    width: 100%;
}



