.title{
    font-weight: 700;
}

.header-container{
    margin: 0px auto;
    text-align: center;

    
}

.dialog{
    min-width: 252px;
}

.dialog-title{
    color:#3F51B5;
    font-weight: 700;

}

.sub-container{
    width: auto;

    display: flex;
    flex-direction: column;
    
    gap: 8px;

    padding: 16px 40px;

}

.action-container{
    text-align: center;
    
}

.button{
    width: 100%;
}



