<!DOCTYPE html>
<html>
    <header>
        <app-header></app-header>
    </header>
    <body>
        <div class="requested-requests-container">

            <div class="requested-requests-filter">
                <app-select></app-select>
                <app-datepicker></app-datepicker>
            </div>

            <div class="requested-requests-cards">
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
            </div>

        </div>
    </body>
</html>