.requested-requests-container{
    max-width: 900px;
    
    padding: 32px 0;
    margin: 0px auto;
    
    justify-content: center;

}

.requested-requests-filter{
    display: flex;
    justify-content: space-between;
}

.requested-requests-cards{
    display: flex;
    flex-direction: column;

    gap: 20px;
}



