.main-container{
    margin: 0px auto;  
    width: 100%;  
    max-width: 880px;   
}

.content{
    padding: 40px 12px;  
}

.subtitle{
    font-weight: 500;
}

.order-title{
    display: flex;
    gap: 12px;

    align-items: center;
}

.secondary-container{
    margin: 20px 0px;
    color: #878787;
}

.title{
    font-weight: 500;
}

.type-problem{
    display: flex;
}

.register-table-container{
    display: flex;
    margin-top: 16px;

    gap: 20px;
}

.table{
    width: 100%;
    min-width: 200px;
}

.button-container{
    display: flex;
    gap: 12px;

    justify-content: center;
}

.request-container{
    display: flex;
    gap: 8px;

    
    justify-content: space-between;
    align-items: flex-end;
    
}

.request-container{
    justify-content: space-between;
}

.send-request-button-container{
   align-items: end;
}

h2{
    text-align: center;
}