<!DOCTYPE html>
<html>
    <header>
        <app-header></app-header>
    </header>
    <body>
        <div class="main-container">
        
            <div class="content">

                <div class="order-title">
                    <h1 class="title"> Registrar</h1>
                </div>
    
                <div class="secondary-container">  
    
                    <div class="request-container">
                        <div class="request">
                            <div class="type-problem">
                                <p class="subtitle">Tipo:</p>
                                <p></p>
                            </div>
                            <div class="description-problem">
                                <p class="subtitle">Descripcion:</p>
                                <p>Hay focos en vídeos que están parpadeando</p>
                            </div>
                        </div>
                        
                        <div class="send-request-button-container">
                            <button mat-flat-button color="primary" [routerLink]="'/solver/confirmMaterial'">Confirmar material</button>
                        </div>
                    </div>

                    <div class="register-table-container">
                        <div class="register">
                            <app-select [label]="'Material'" [items]="item" [(value)]="form.articleId" [getId]="getArticleId" [getLabel]="getArticleLabel"></app-select>
                            <app-textarea [label]="'Descripcion del articulo'" [example]="'Foco de 10w'" [(value)]="form.description"></app-textarea>
                            <app-input [type]="'number'" [label]="'Cantidad'" [example]="'4'" [(value)]="form.amount"></app-input>
                            <app-select [label]="'Unidad'" [items]="unit" [getId]="getUnitId" [getLabel]="getUnitLabel" [(value)]="form.unit"></app-select>              
                            <app-input [type]="'number'" [label]="'Precio'" [example]="'5111100000'" [(value)]="form.price"></app-input>

                            <div class="button-container">
                                <button mat-flat-button color="primary" (click)="add()">Agregar</button>
                            </div>
                        </div>

                        <div class="table" *ngIf="itemsTable.length > 0">   
                            <app-table-requeriment [optionFilter]="'no'" [nameColumn]="nameColumn" [items]="itemsTable" [optionRequeriment]="'no'" [optionEdit]="'no'" (onChange)="removeArticle($event)" (onChange)="onChangeActionTable($event)"></app-table-requeriment>                  
                        </div>
                        <div class="table" *ngIf="itemsTable.length == 0" >                     
                            <p>No ha agregado ningun material</p>
                        </div>
                    </div>

                    
                </div>

            </div>
        </div>
    </body>
</html>