<!DOCTYPE html>
<html>
    <header>
        <app-header></app-header>
    </header>
    <body>
        <div class="requeriment-container">
            <div class="requeriment-content">

                <div class="title-container">   
                    <h1 class="title">Requisitos</h1>
                </div>

                <div class="content-container">
                    <div class="type-description-problem-container">
                        <div class="type-problem">
                            <p class="type">Tipo: </p>
                            <p>Electrico</p>
                        </div>
                        <div class="description-problem">
                            <p class="description">Descripcion: </p>
                            <p>Hay focos en videos que estan parpadeando</p>
                        </div>
                    </div>

                    <div class="add-material-section">
                        <div class="add-material-container">
                            <div class="add-material">
                                <app-select [label]="'Material'"></app-select>
                                <app-textarea [label]="'Descripción del requisito'"></app-textarea>
                                <app-input [label]="'Cantidad'"></app-input>
                                <app-select [label]="'Unidad'"></app-select>
                                <app-input [label]="'Precio'"></app-input>
                            </div>
                        </div>

                        <div class="agreggate-material-table-container">
                            <app-table></app-table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>