.main-container{
    margin: 0px auto;  
    width: 100%;  
    max-width: 880px;   
}

.content{
    padding: 40px 20px;  
}

.order-title{
    display: flex;
    gap: 12px;

    align-items: center;
}

.secondary-container{
    margin: 20px 0px;
    color: #878787;
    justify-content: space-between;
    align-items: flex-end;
}

.title{
    font-weight: 500;
}

.type-problem{
    display: flex;
}
