<!DOCTYPE html>
<html>
    <header>
        <app-header></app-header>
    </header>
<body class="body">

    <div class="content-container">
        <div class="mat-tab-group">
            <mat-tab-group animationDuration="0ms" class="mat-tab-group" (focusChange)="ReloadProblems()" >

                <mat-tab label="General"  >                                                                              
                    <div class="table-container" *ngIf="ItemsTableGeneric.length > 0">                                            
                      <app-table-show class="table" [items]="ItemsTableGeneric" [nameColumn]="nameColums" [optionDelete]="'no'" [optionEdit]="'no'" [optionRequeriment]="'no'" (onChange)="onChangeActionTable($event)"></app-table-show>                                            
                    </div>   
                    <div class="table-container" *ngIf="ItemsTableGeneric.length == 0">                                            
                        <p>No hay problemas.</p>
                    </div>   
                </mat-tab>
                        
                <mat-tab label="Pendientes">                  
                    <div class="table-container" *ngIf="ItemsTableSlopes.length > 0">
                        <app-table-show-checked class="table" [items]="ItemsTableSlopes" [nameColumn]="nameColums" [optionChecked]="'si'" [optionRequeriment]="'no'" (onChange)="onChangeActionTable($event)"></app-table-show-checked>                      
                    </div>
                    <div class="table-container" *ngIf="ItemsTableSlopes.length == 0">
                        <p>No hay problemas pendientes.</p>
                    </div>
                </mat-tab> 

                <mat-tab label="Asignados">                  
                    <div class="table-container" *ngIf="ItemsTableAccepted.length > 0">
                        <app-table-show class="table" [items]="ItemsTableAccepted" [nameColumn]="nameColums" [optionRequeriment]="'no'" [optionDelete]="'no'" [optionEdit]="'no'" [optionRequeriment]="'no'" (onChange)="onChangeActionTable($event)"></app-table-show>                      
                    </div>
                    <div class="table-container" *ngIf="ItemsTableAccepted.length == 0">
                        <p>No hay problemas asignados.</p>
                    </div>
                </mat-tab> 

                <mat-tab label="Revisión requisitos">                  
                    <div class="table-container" *ngIf="ItemsTableCheck.length > 0">
                        <app-table-show class="table" [items]="ItemsTableCheck" [nameColumn]="nameColums" (onChange)="onChangeActionTableRequirement($event)"></app-table-show>                      
                    </div>
                    <div class="table-container" *ngIf="ItemsTableCheck.length == 0">
                        <p>No hay problemas que revisar</p>
                    </div>
                </mat-tab>                 

                <mat-tab label="En proceso">                  
                    <div class="table-container" *ngIf="ItemsTableProcess.length > 0">
                        <app-table-show class="table" [items]="ItemsTableProcess" [nameColumn]="nameColums" [optionDelete]="'no'" [optionEdit]="'no'" (onChange)="onChangeActionTableRequirement($event)"></app-table-show>                      
                    </div>
                    <div class="table-container" *ngIf="ItemsTableProcess.length == 0">
                        <p>No hay problemas en proceso.</p>
                    </div>
                </mat-tab> 

                <mat-tab label="Terminados">                  
                    <div class="table-container" *ngIf="ItemsTableFinished.length > 0">
                        <app-table-show class="table" [items]="ItemsTableFinished" [nameColumn]="nameColums" [optionDelete]="'no'" [optionEdit]="'no'" (onChange)="onChangeActionTableRequirement($event)"></app-table-show>                      
                    </div>
                    <div class="table-container" *ngIf="ItemsTableFinished.length == 0">
                        <p>No hay problemas terminados.</p>
                    </div>
                </mat-tab> 

                <mat-tab label="Rechazados">                  
                    <div class="table-container" *ngIf="ItemsTableRefused.length > 0">
                        <app-table-show class="table" [items]="ItemsTableRefused" [nameColumn]="nameColums" [optionRequeriment]="'no'" [optionDelete]="'no'" [optionEdit]="'no'" [optionRequeriment]="'no'" (onChange)="onChangeActionTable($event)"></app-table-show>                      
                    </div>
                    <div class="table-container" *ngIf="ItemsTableRefused.length == 0">
                        <p>No hay problemas para rechazar.</p>
                    </div>
                </mat-tab> 

              </mat-tab-group>
        </div>
    </div>

</body>
</html>
