<!DOCTYPE html>
<html>
    <header>
        <app-header></app-header>
    </header>
<body class="body">

    <div class="content-container">
        <div class="mat-tab-group">
            <mat-tab-group animationDuration="0ms" class="mat-tab-group">

                <mat-tab label="General" >
                    <div class="table-container">
                        <p>Tabla de General</p>
                    </div>                        
                </mat-tab>
                
                <mat-tab label="Pendientes">
                    <div class="table-container">
                        <p>Tabla de Pendientes</p>
                    </div>
                </mat-tab> 

                <mat-tab label="Revisión Requisistos">
                    <div class="table-container">
                        <p>Tabla de revision de requisitos</p>
                    </div>
                </mat-tab> 

              </mat-tab-group>
        </div>
    </div>

</body>
</html>
