<!DOCTYPE html>
<html>
    <header>
        <app-header></app-header>
    </header>
    <body>
        <div class="rol-content-container">
            <app-admin-abc-nav-modules></app-admin-abc-nav-modules>
            <div class="module-name-register-container">

                <div class="module-name">
                    <app-abc-module-title [label]="'Registro de rol'"></app-abc-module-title>
                </div>

                <div class="module-register-container">

                    <div class="register">
                        
                        <div class="input-register">
                            <app-input [label]="'Tipo de rol'"></app-input>
                            <app-textarea [label]="'Descripción del rol'" ></app-textarea>
                            <mat-slide-toggle class="slide-toggle">Activo</mat-slide-toggle>
                        </div>

                        <div class="button-container">
                            <button mat-flat-button color="primary">Agregar</button>
                        </div>

                    </div>

                    <div class="table-rol-container">
                        <app-request-table class="table"></app-request-table>
                    </div>

                </div>
            
            </div>
        </div>
    </body>
</html>