<!DOCTYPE html>
<html>
    <header>
        <app-header></app-header>
    </header>
    <body>
        <div class="article-by-branch-content-container">
            <app-admin-abc-nav-modules></app-admin-abc-nav-modules>
            <div class="module-name-register-container">

                <div class="module-name">
                    <app-abc-module-title [label]="'Registro de articulo por sucursal'"></app-abc-module-title>
                </div>
                
                <div class="module-register-container">

                    <div class="register">

                        <div class="input-register">                 
                                       
                            <app-select [label]="'Sucursal'" [(value)]="idSucursal" [items]="branches" [getId]="getIdBranches" [getLabel]="getLabelBranches" [disabled]="enableid"></app-select>
                            <app-select [label]="'Articulo'" [(value)]="idArticle" [items]="articles"  [getId]="getIdArticle" [getLabel]="getLabelArticle" [disabled]="enableid"></app-select>
                            <app-input [type]="'number'" [label]="'Cantidad total'" [example]="'30'" [value]="totalAmount" (onChange)="onChangeTotalAmount($event)"></app-input>                            
                            <app-input [type]="'number'" [label]="'Cantidad disponible'" [value]="totalAvailable" (onChange)="onChangeTotalAvailable($event)" *ngIf="idSucursal == '16'"></app-input>                            
                            <mat-slide-toggle [color]="'primary'" class="slide-toggle" [(ngModel)]="isChecked">Valioso</mat-slide-toggle>
                        </div>

                        <div class="button-container">
                            <button mat-flat-button color="primary" (click)="CreateStore()" *ngIf="butonAddUpdate.length == 0">Agregar</button>                                                                                                                                                
                            <button  #update mat-flat-button color="primary" (click)="UpdateStore()" *ngIf="butonAddUpdate.length> 0">Actualizar</button>                                                                                                                
                        </div>

                    </div>

                    <div class="table-article-by-branch-container" *ngIf="ItemsTable.length > 0">
                        <app-abc-table class="table" [items]="ItemsTable" [nameColumn]="nameColum" [optionDelete]="'no'" (onChange)="onChangeActionTable($event)"></app-abc-table>
                    </div>

                </div>
            
            </div>
        </div>
    </body>


</html>
