.content-container{
    padding: 20px 0px;
    width: 100%;
}

.content{
    margin: 0px auto;
    max-width: 80%;
}

.select-container{
    width: 200px;
}

.table-container{
    width: auto;    
}

.mat-content-container{
    padding: 20px 0px;
}

.button{    

    display: flex;            
    margin-top: 20px;
    height: auto;
}

.assignament-button{
    width: 80px;
    height: 40px;
}

.optionReports{   
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Selects{
    margin-top: 8px;
    display: flex;
    gap: 16px;
}



.total-container{    
    margin-top: 12px;
    margin-right: 5%;
    display: flex;   
    justify-content: end;
    font-size: 24px;   
    color:red;    
}


