.content-container{
    padding: 20px 0px;

    width: 100%;
}

.content{
    margin: 0px auto;
    max-width: 80%;
}

.select-container{
    width: 200px;
}

.total-container{
    display: flex;
}

.table-container{
    width: auto;
    height: 200px;    
}

.mat-content-container{
    padding: 20px 0px;
}

.total-container{
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
}