.content-container{
    max-width: 80%;
    width: 100%;
    padding: 20px;
    margin: 0px auto;    

}

.info{
    
    line-height: 250px;
    margin: 0px auto;        
    text-align: center;
    width: 100%;
}